<p id="notice"><%= notice %></p>

<p>
  <strong>Local:</strong>
  <%= @weather.local %>
</p>

<p>
  <strong>Content:</strong>
  <%= @weather.content %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
